:root{
    --header_color: #2d2e33;
    --aside_bar_bg:#2d2e33;
    --side_top_bg:#00FFFF;
    --side_bar_line_hover:#44464c;
    --header_links_color:#d3d3d3;
    --body_bg:#0d172b;
    --bridge_btn_bg:#00FFFF;
    --white_black_border:#4c4e57;
    --bridge_box_bg:#34353b;
    --modal_bg:#0000008c;

    --white:#ffffff;
    --white_blue:#e4edf1;
    --green:green;
    --links_blue:#0670A6;
    --white_black_border_tx:rgb(219, 219, 219);
    --green_halka_bg:rgb(197, 255, 236);
}

:root {
    --header_links_font:Optima, sans-serif;
    --bridge_box_font:Andale Mono, monospace;
    
    --gas_tracker_heading:OCR A Std, monospace;
    --gas_gwei_text:Courier New, monospace;
    --gas_position_text:sans-serif;
    --monospace:monospace ;

    --tx_font:Roboto, system-ui, -apple-system, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
    --fau_clicked_border_c:#006DBC;
}
:root{
    --fau_clicked_bg:linear-gradient(#3D94D9, #0067B9);
    --fau_send_btn_border:1px solid #0077CC;
    --fau_button_bg:linear-gradient(#42A1EC, #0070C9);
    --box_shadow_5px:0px 0px 3px rgb(197, 197, 197);
}