@import url('color_font.css');

:root{
    --box_margin_top:3rem;
    --all_box_shadow:1px 5px 5px var(--box_shadow);
}

*{
    padding: 00px;
    margin: 00px;
    box-sizing: border-box;
}
::-webkit-scrollbar{
    display: none;
}
a{
    text-decoration: none;
}
body{
    background-color: var(--body_bg);
}
.root{
    padding: 2rem;
}
.input_box{
    width: 100%;
    padding: 2.5rem;
    border-radius: 20px;
    background-color: var(--faucet_input_bg);
    box-shadow: var(--all_box_shadow);
}
.input_box .input_div_btn_text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.input_box .input_btn_logo_div{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.input_box .connect_btn{
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    background-color: var(--btn_bg);
    color: var(--white);
}
.input_box .network_btn{
    border-radius: 10px;
    padding: 10px;
    border: none;
    background-color: var(--btn_bg);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.4rem;
}
.input_box .network_logo{
    border-radius: 50px;
    height: 19px;
    width: 19px;
}
.input_box .faucet_heading{
    font-size: 2.5rem;
    color: var(--heading_color);
    font-family: var(--page_heading);
}
.input_box .wallet_addrss_search_icon{
    width: 20px;
    height: 20px;
}
.input_box .input_tag_parent_box{
    width: 100%;
    margin-top: var(--box_margin_top);
}
.input_box .input_tag_box{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--body_bg);
}
.input_box .wallet_address_input{
  outline: none;
  padding: 5px;
  font-size: 1rem;
  color: white;
  border: none;
  flex-grow: 1;
  background-color: transparent;
}
.input_box .wallet_addrss_search_icon{
   opacity: 1;

}

/* =========== */
.faucet_details{
    width: 100%;
    margin-top: var(--box_margin_top);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.faucet_details *{
    font-family: var(--status_text);
    color: var(--white);
}
.faucet_details .status_heading{
    color: var(--white_black);
}
.faucet_details .faucet_col{
  padding: 10px;
  border-radius: 10px;
  background-color: var(--status_box_bg);
  width: 25%;

  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  box-shadow: var(--all_box_shadow);
}
.faucet_details .faucet_col .icon{
    width: 30px;
    height: 30px;
}
.faucet_details .faucet_col .faucet_numb_box .faucet_numb_parent_div{
  margin-top: 0.3rem;
}  

/* ===================== */
.tx_details{
    margin-top: var(--box_margin_top);
}
.tx_details .tx_heading *{
    font-family: var(--page_heading);
    color: var(--white);
}
.tx_box_details{
    margin-top: 1rem;
}
.tx_box_details * {
   font-family: var(--status_text);
   color: var(--white);
}
.tx_details .tx_box_details table{
   width: 100%; 
}
.tx_info_icon{
    width: 16px;
    height: 17px;
    margin-top: 2px;
}
.tx_tx_icon{
    width: 25px;
    height: 25px;
}
.tx_table .tx_table_body .td_div {
    display: flex;
    align-items: start;
    justify-content: start;
    gap: 1.5rem;
}
.tx_table .tx_table_body .td_div .tx_de_p_d{
    display: flex;
    justify-content: start;
    align-content: space-between;
    flex-direction: column;
    gap: 0.5rem;
}
.tx_table .tx_table_body .td_div .tx_hash_div{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}
.tx_table .tx_table_body .td_div .tx_time{
     background-color: transparent;
     border: none;
     border-radius: 5px;
     padding: 3px 10px;
     font-size: 10px;
     border: 1px solid var(--faucet_input_bg);
}
.tx_table .tx_table_body .tx_link{
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--link_color);
    font-weight: bold;
    letter-spacing: 0.5px;
}
.tx_table .tx_table_body .status_btn{
  border: none;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: var(--success_btn_bg);
  padding: 5px 10px;
  border-radius: 5px;
  gap: 0.5rem;
}
.tx_table .tx_table_body .status_btn b{
    color: black;
}
.tx_table .tx_table_body .status_btn svg{
    width: 15px;
    height: 15px;
}
.tx_table .tx_table_body  .wallet_address_div{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.1rem;
}
.tx_table .tx_table_body .copy_icon{
  width: 15px;
  height: 15px;
}
.tx_table .tx_table_body .faucet_amount_tx{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
}
.tx_details .tx_box_details{
   border-radius: 10px;

   max-height: 760px;
   overflow: auto;
   border: 2px solid var(--status_box_bg);
   box-shadow: var(--all_box_shadow);
}
.tx_details .tx_table tr{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--status_box_bg);
}
.tx_details .tx_table .tx_table_body tr{
   padding: 10px 20px;
}
.tx_details .tx_box_details thead th{
    padding: 5px;
}
.tx_details table{
    border-collapse: collapse;
}
.tx_details .tx_box_details thead{
    background-color: var(--status_box_bg);
    position: sticky;
    top:00px;
    z-index: +1;
}
.root .sponsored_div{
  height: 6rem;
  margin-top: var(--box_margin_top);
  display: flex;
  justify-content: center;
  align-items: center;
}
.root .sponsored_div .sponsored_link{
    width: 80%;
    height: 100%;
    border-radius: 1rem;
    display: inline-block;
    box-shadow: var(--all_box_shadow);
}


/* ====================================================== */
footer{
    padding: 5rem;
    padding-bottom: 1rem;
    width: 100%;
    background-color: var(--status_box_bg);
}
footer *{
    font-family: var(--status_text);
    color: var(--white);
}
footer .footer_main{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
footer .footer_main .footer_col{
   display: flex;
   flex-direction: column;
}
footer .footer_main .footer_col h2{
   margin-bottom: 1rem;
   text-align: start;
}
footer .footer_main .footer_col a{
   margin-bottom: 1rem;
   color: var(--white_black);
}
.footer_copy_div *{
   color: var(--white_black);
}
.footer_copy_div{
    border-top: 1px solid var(--white_halka);
    margin-top: 3rem;
    display: flex;
    padding-top: 2rem;
    align-items: center;
    justify-content: space-between;
}