@import url("c_f.css");

*{
    margin: 00px;
    padding: 00px;
    box-sizing: border-box;
    font-family: var(--tx_font);
}
::-webkit-scrollbar{
    display: none;
}
li{
    list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: var(--links_blue);
}
.header{
    z-index: +99;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 00px;
    background-color: var(--white);
}
.root{
    background-color: var(--white_blue);
    padding-bottom: 1rem;
}
.header_web_log_img{
    width: 35px;
    height: 35px;
}
.header_right_connect_div .wallet_connect_btn{
    padding: 5px 10px;
    border-radius: 5px;
    min-width: 120px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--side_bar_line_hover);
}
.top_banner_div{
    background-color: var(--body_bg);
    background-image: url('../image/icon/top_bg.svg');
    background-repeat: no-repeat;
    height: 300px;
    background-size: cover;

    display: flex;
    justify-content: space-between;
}
.top_banner_first_div{
    width: 90%;
    margin: 3rem auto;
}


/* ============================ */
.faucet_details_div{
   width: 90%;
   margin: 00rem auto;
   border-radius: 10px;
   box-shadow: var(--box_shadow_5px);
   background-color: white;
   height: 170px;
   margin-top: -3rem;
   padding: 10px 10px;
}
.faucet_details_div *{
  font-family: var(--monospace);
}
.transctions_details{
   width: 90%;
   margin: 00rem auto;
   margin-top: 2rem;
   border-radius: 10px;
   box-shadow: var(--box_shadow_5px);
   background-color: white;
}
.tx_details_heading{
    padding: 10px 20px;
}
.tx_table_parent_div{
    overflow: auto;
    margin-top: 0.5rem;
    max-height: 600px;
    overflow: auto; 
}
  
#tx_table {
    width: 100%;
    border-collapse: collapse; 
}
#tx_table th,
#tx_table td {
    padding: 15px 10px; 
    text-align: left;  
}

#tx_table tr{
    border-bottom:1px solid var(--white_blue);
}
#tx_table tbody tr:hover{
  background-color: var(--white_blue);
}

#tx_table th {
  font-weight: bold; 

    position: sticky !important;
    top: 0;
    z-index: 1;
    background-color: var(--white);
}
#tx_table tr > td:first-child,
#tx_table tr > th:first-child {
    padding-left: 20px;
}

.tx_status_span{
    background-color: var(--green_halka_bg);
    font-size: 12px;
    padding: 5px 10px;
    color: var(--green);
    border-radius: 5px;
}
.w_copy_icon{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    cursor: pointer;
}

/* ============================= */
.top_banner_div .input_box{
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  background-color: var(--white);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.top_banner_div .input_box select{
    outline: none;
    padding: 5px;   
    border: none;
    border-radius: 3px;
    font-weight: bold;
    background-color: var(--white);
}

.top_banner_div .input_box input{
    outline: none;
    padding: 5px 5px 5px 10px;
    border: none;
    font-weight: bold;
    flex-grow:1;
    font-size: 14px !important;
    border-left: 1px solid var(--white_black_border_tx);
}
.top_banner_div .input_box button{
    padding: 5px 15px;
    font-weight: bold;
    margin-left: auto;

    background-image: var(--fau_button_bg);
    border: var(--fau_send_btn_border);
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    direction: ltr;
    display: block;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    touch-action: manipulation;
    white-space: nowrap;
}

.top_banner_div .input_box button:disabled {
  cursor: default;
  opacity: .3;
}

.top_banner_div .input_box button:active {
  background-image: var(--fau_clicked_bg);
  border-color: var(--fau_clicked_border_c);
  outline: none;
}

.top_banner_div .network_logo{
  width: 30px;
  border-radius: 5px;
}
.top_banner_div .select_parent_div{
  display: flex;
  align-items: center;
  justify-content: start;
}
.top_banner_div .search_heading{
  margin-bottom: 1rem;
  color: var(--white);
}
.top_banner_div  .sponser_ads_text{
   margin-top: 0.5rem;
   color: var(--white);
}
.top_banner_div .input_box *{
  font-size: 16px;
}
.sponsored_links_a{
    text-decoration: none;
    color: var(--links_blue);
    font-weight: bold;
}
.sponsered_parent_div{
    display: flex;
    align-items: center;
    gap: 5px;
}
/* =============================== */
.faucet_details_div{
  display: flex;
}
.fauct_fast_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.fauct_second_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.fauct_fast_div_1 , .fauct_fast_div_2{
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 10px;
    padding-right: 20px;
}
.bottom_border{
  padding: 00px 10px;
}
.bottom_border .border_div{
  border: 1px solid var(--white_blue);
}
.fauct_fast_div_1 , .fauct_fast_div_2{
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 10px ;
    border-right: 2px solid var(--white_blue);
}
.fauct_second_div_1,.fauct_second_div_2{
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 10px;
    padding-left: 20px;
    border-right: 2px solid var(--white_blue);
}
.token_status_img{
  margin-right: 10px;
}
.status_heading{
  color: var(--white_black_border);
  font-size: 14px;
}
.status_value{
  margin-top: 4px;
}
.fauct_third_div{
  padding: 10px;
}

@media (max-width:800px) {
  .col-md-6{
    width: 50%;
  }
}
@media (min-width:800px) {
  .col-lg-4{
    width: 33.3333333%;
  }
}
/* ============================================ */
.chart_parent_div{
  height: 100%;
  padding: 10px;
  width: 100%;

  display: flex;
  justify-content: space-between;
}
.single_chart_div{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    height: 100%;
    width: 5%;
    position: relative;
}
.single_chart_div .chart_div{
   width: 100%;
   margin-bottom: 5px;
   transform-origin: bottom;
   cursor: pointer;
   height: 50px;
   background-color: var(--links_blue);
}
.single_chart_div .d_name{
   color: var(--white_black_border);
   font-size: 12px;
}
.single_chart_div .uses_span{
  font-size: 8px;
  min-width: 50px;
  letter-spacing: 0.1px;
  position:absolute;
  padding: 1px;
  margin-top: -20px;
  margin-left: -100%;
  text-align: center;
  color: black;
  border-radius: 2px;
  background-color: var(--links_blue_bg);

  display: none;
}

.chart_div:hover .uses_span {
    display: inline-block;  
}

/* ============================================= */

footer{
  height: 100px;
  width: 100%;
  padding: 10px;
  padding-top: 30px;
  border-top: 1px slid var(--white_blue);

  display: flex;
  align-items: start;
  justify-content: space-between;
}
.fitst_footer_column .powerby{
  display: flex;
  align-items: start;
  justify-content: start;
  gap: 10px;
}
.fitst_footer_column .powerby img{
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.foot_c_title{
  margin-bottom: 10px;
}
.second_footer_column{
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}

.footer_last{
  height: 30px;
  width: 100%;
  border-top: 1px solid var(--white_blue);
  padding: 5px 20px;
}
.footer_last *{
  font-family: var(--bridge_box_font);
  font-size: 14px;
}
.footer_last_inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_dona_add{
  display: flex;
  align-items: center;
  gap: 5px;
}


/* ======================================= */
.sponsored_details_div{
   width: 90%;
   margin: 00rem auto;
   border-radius: 10px;
   box-shadow: var(--box_shadow_5px);
   background-color: white;
   height: 120px;
   margin-top: 2rem;
   overflow: hidden;
}
.spo_img_link{
  width: 100%;
  display: inline-block;
}
.spo_img_tag{
  width: 100%;
}