@import url("c_f.css");

*{
    margin: 00px;
    padding: 00px;
    box-sizing: border-box;
    font-family: var(--tx_font);
}
::-webkit-scrollbar{
    display: none;
}
li{
    list-style: none;
}
.header{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 00px;
    background-color: var(--white);
}
.root{
    background-color: var(--white_blue);
    padding-bottom: 1rem;
}
.header_web_log_img{
    width: 35px;
    height: 35px;
}
.header_right_connect_div .wallet_connect_btn{
    padding: 5px 10px;
    border-radius: 5px;
    min-width: 120px;
    font-size: 16px;
    color: var(--white);
    background-color: var(--side_bar_line_hover);
}
.top_banner_div{
    background-color: var(--body_bg);
    background-image: url('../image/icon/top_bg.svg');
    background-repeat: no-repeat;
    height: 300px;
    background-size: cover;

    display: flex;
    justify-content: space-between;
}
.top_banner_first_div{
    width: 90%;
    margin: 3rem auto;
}


/* ============================ */
.faucet_details_div{
   width: 90%;
   margin: 00rem auto;
   border-radius: 10px;
   box-shadow: var(--box_shadow_5px);
   background-color: white;
   height: 170px;
   margin-top: -3rem;
   padding: 10px 10px;
}
.transctions_details{
   width: 90%;
   margin: 00rem auto;
   margin-top: 3rem;
   border-radius: 10px;
   box-shadow: var(--box_shadow_5px);
   background-color: white;
}
.tx_details_heading{
    padding: 10px 20px;
}
.tx_table_parent_div{
    overflow: auto;
    margin-top: 0.5rem;
}

#tx_table {
    width: 100%;
    border-collapse: collapse;  
}
#tx_table th,
#tx_table td {
    padding: 15px 10px; 
    text-align: left;  
}

#tx_table tr{
    border-bottom:1px solid var(--white_blue);
}
#tx_table tbody tr:hover{
  background-color: var(--white_blue);
}

#tx_table th {
    font-weight: bold; 
}
#tx_table tr > td:first-child,
#tx_table tr > th:first-child {
    padding-left: 20px;
}

.tx_status_span{
    background-color: var(--green_halka_bg);
    font-size: 12px;
    padding: 5px 10px;
    color: var(--green);
    border-radius: 5px;
}
.w_copy_icon{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    cursor: pointer;
}

/* ============================= */
.top_banner_div .input_box{
  padding: 5px 5px 5px 5px;
  border-radius: 5px;
  background-color: var(--white);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.top_banner_div .input_box select{
    outline: none;
    padding: 5px;   
    border: none;
    border-radius: 3px;
    font-weight: bold;
    background-color: var(--white);
}

.top_banner_div .input_box input{
    outline: none;
    padding: 5px 5px 5px 10px;
    border: none;
    font-weight: bold;
    flex-grow:1;
    font-size: 14px !important;
    border-left: 1px solid var(--white_black_border_tx);
}
.top_banner_div .input_box button{
    padding: 5px 15px;
    font-weight: bold;
    margin-left: auto;

    background-image: var(--fau_button_bg);
    border: var(--fau_send_btn_border);
    border-radius: 5px;
    color: var(--white);
    cursor: pointer;
    direction: ltr;
    display: block;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    touch-action: manipulation;
    white-space: nowrap;
}

.top_banner_div .input_box button:disabled {
  cursor: default;
  opacity: .3;
}

.top_banner_div .input_box button:active {
  background-image: var(--fau_clicked_bg);
  border-color: var(--fau_clicked_border_c);
  outline: none;
}


.top_banner_div .network_logo{
  width: 30px;
  border-radius: 5px;
}
.top_banner_div .select_parent_div{
  display: flex;
  align-items: center;
  justify-content: start;
}
.top_banner_div .search_heading{
  margin-bottom: 1rem;
  color: var(--white);
}
.top_banner_div  .sponser_ads_text{
   margin-top: 0.5rem;
   color: var(--white);
}
.top_banner_div .input_box *{
  font-size: 16px;
}
.sponsored_links_a{
    text-decoration: none;
    color: var(--links_blue);
    font-weight: bold;
}
.sponsered_parent_div{
    display: flex;
    align-items: center;
    gap: 5px;
}

/* =============================== */

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}


.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-lg-4 {
-ms-flex: 0 0 33.333333%;
flex: 0 0 33.333333%;
max-width: 33.333333%;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.my-5 {
  margin-top: 3rem !important;
}
.text-center {
  text-align: center !important;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.mr-auto,
.mx-auto {
  margin-right: auto !important;
}
.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}
.flex-grow-1 {
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.d-block {
  display: block !important;
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
}
.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}
.text-muted {
  color: #6c757d !important;
}
.text-danger {
  color: #dc3545 !important;
}
small {
  font-size: 80%;
}
@media (min-width: 992px) {
  .d-lg-none {
    display: none !important;
  }
}
.token_detials_inner_div{
    padding: 10px;
}