@import url("c_f.css");

*{
    box-sizing:border-box;
    padding:00px;
    margin:00px;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
::-webkit-scrollbar {
    display: none;
}
body{
    background-color:var(--body_bg);
}
#header{
    position:sticky;
    top:00px;
    z-index:+99;
}


.header_div{
    background-color: rgba(45, 46, 51,0.1);
    height: 72px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.header_logo{
  display:flex;
}
.header_right_div{
    display:flex;
    align-items:center;
    margin-left:auto;
}

.header_div .wallet_connect_modal_open_btn{
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 20px;
    color: #9daab2;
    font-weight: 500;
    border: 1px solid #4d4f56;
    border-radius: 32px;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}

.header_div .wallet_connect_modal_open_btn:hover {
  color: #e0f3ff;
  border: 1px solid #e0f3ff;
}

.side_bar_box_open_th_line {
  position: relative;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #4c4e57;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}


.side_bar_box_open_th_line:hover {
    border: 1px solid #e0f3ff;
}
.side_bar_tree_l_parent_nav{
    margin-left:20px;
}

.header_nav_bar{
    height: 100%;
    display: flex;
    margin-left: 48px;
}

.header_nav_bar .header_nav_bar_ul{
    display: flex;
    list-style: none;
    font-size: 1.125rem;
}

.header_nav_bar .header_nav_bar_ul li{
    position: relative;
    margin: 0 20px 0 0;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
    background-color: inherit;
    cursor: pointer;

    display:flex;
    justify-content:center;
    align-items:center;
}

.header_nav_bar .header_nav_bar_ul li a{
    text-decoration: none;
    color: var(--header_links_color);
    outline: none;
    width: 100%;
    display: grid;
    place-items: center;

    padding:7px 15px;
    border-radius: 5px;
    font-family: var(--header_links_font);
    font-weight: 600;
}
.header_nav_bar .header_nav_bar_ul li a:hover{
  background-color: var(--side_bar_line_hover);
  color: white;
}

/* mobile screen nav bar hide */
@media (max-width:768px) {
    .header_nav_bar{
        display: none !important;   
    }
}

/* ============= side bar =============== */
.open_side_bar{
    left: 00% !important;
}
.aside_parent{
    left:100%;
    transition: 0.3s;
    position:fixed;
    top:00px;
    z-index:+99999;
    height:100vh;
    width:100%;
    display:block;
    background-color:transparent;
}
.aside{
    max-width:500px;
    margin-left:auto;
    background-color:var(--aside_bar_bg);
    height:100%;
}
.aside .aside_close_button{
    border:none;
    background-color:transparent;
    margin-left: auto;
    display: inline-block;
}

.side_bar_close_parent_div{
    display:flex;
    justify-content:end;
    align-items:center;
}
.aside .top_aside_div,
.aside .bottom_aside_div{
    margin-left:auto;
    padding:10px;
}
.aside .top_aside_div{
    background-color:var(--side_top_bg);   
    padding:20px 10px; 
}

.aside .connect_status_span{
    width:10px;
    height:10px;
    border-radius:50%;
    background-color:green;
    display:inline-block;
}

.side_bar_top_div{
    padding:10px;
}
.side_bar_top_div .wallet_address_div{
   font-weight: bold;
   letter-spacing: 0.3px;
   color:black;
   font-size:12px;
}
.side_bar_top_div .aside_wallet_action_btn{
   padding:10px 20px;
   border-radius:10px;
   margin-top:10px;
   color:white;
   font-weight:bold;
   background-color:var(--aside_bar_bg);
}

.aside .bottom_aside_div ul{
  padding:10px;
}
.aside .bottom_aside_div ul li{
  margin-top:10px;
  list-style:none;
}
.aside .bottom_aside_div ul li a{
    text-decoration:none;
    display:block;
    width:100%;
    padding:10px;
    border-radius:5px;
    
    color:var(--header_links_color);
    font-family: var(--header_links_font);
    font-weight: 600;
}
.aside .bottom_aside_div ul li a:hover{
    background-color:var(--side_bar_line_hover);
    color: white;
}


.connect_wallet_modal{
    left:100%;
    transition: 0.3s;
    position:fixed;
    top:00px;
    z-index:+99999;
    height:100vh;
    width:100%;
    display:block;
    background-color:transparent;
}
.connect_wallet_modal *{
  font-family:var(--gas_position_text);
  color: white;
}
.connect_modal_div{
    max-width:400px;
    margin-left:auto;
    background-color:var(--aside_bar_bg);
    height:100%;
    padding: 10px 20px 10px 20px;
}
.connect_modal_close_parent_div{
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 5px 10px;
}
.connect_modal_close_button{
    background-color: transparent;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}
.connect_wallet_btn_div{
    border: 1px solid var(--body_bg);
    margin-top: 1.5rem;
    padding: 10px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.connect_wallet_btn_div .wallet_c_connect_btn{
  width: 100%;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--body_bg);
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
}
.wallet_logo_p_div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    gap: 10px;
}
.wallet_c_connect_btn img{
    width: 20px;
    border-radius: 5px;
}
.d-none{
    display: none !important;
}
.open_connect_modal{
    left: 00px !important;
}