.bridge_box_all_parent{
    background-color: transparent;
    width: 100%;
    margin: 0px auto 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0px 24px;
    max-width: 648px;
}

.bridge_box_second_parent{
    background-color: transparent;
    width: 100%;
    margin: 48px auto 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.bridge_box_first_div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 100%;
}
.bridge_box_second_div{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #34353b;
    border: 1px solid #3e4047;
    border-radius: 10px;
    flex-wrap: nowrap;
    padding: 24px;
    gap: 24px;
}
.bridge_box_third_div{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #34353b;
    border: 1px solid #3e4047;
    border-radius: 10px;
    flex-wrap: nowrap;
    padding: 24px;
    gap: 24px;
}
.box_first_div_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.box_first_div_2{
    background: #34353b;
    height: 1px;
    width: 100%;
}
.bridge_box_second_all{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 100%;
    position: relative;
}
.bridge_box_second_1_1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 100%;
    position: relative;
}
.bridge_box_second_1_2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    width: 100%;
}
.bridge_box_second_1_2_1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: calc(70% - 6px);
    flex-shrink: 0;
}
.bridge_box_second_1_2_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 20px;
    height: 64px;
    width: 100%;
    background: #2d2e33;
    border: 1px solid #4c4e57;
    border-radius: 32px;
    cursor: pointer;
}
.bridge_box_second_1_2_1_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9px 20px 9px 32px;
    background: #2d2e33;
    border: 1px solid #4c4e57;
    border-radius: 32px;
    width: 100%;
    height: 64px;
    flex-shrink: 0;
}
.bridge_box_second_1_2_1_1_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    gap: 16px;
    width: 100%;
}
.bridge_box_second_1_2_1_1_1_1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0px;
}

.bridge_box_second_1_2_1_1_1_btn{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    height: 64px;
    padding: 0px 40px;
    gap: 4px;
    border-radius: 32px;
    background-color: transparent;
    border: none;
    padding: 0;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    height: 24px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border: 1px solid #4c4e57;
    border-radius: 24px;
    cursor: pointer;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #c5d5e0;
}

.bridge_box_second_1_2_1_1_1_1_input{
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #e0f3ff;
    color: #e0f3ff;
    background: none;
    width: 100%;
    padding: 0;
    border: none;
    outline: 0;
    overflow-x: hidden;
    appearance: textfield;
}
.bridge_box_second_1_2_2_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 100%;
}
.bridge_box_second_1_2_2_1_1_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    gap: 12px;
}
.bridge_box_second_1_2_2_1_1_1_img{
    width: 24px;
    height: 24px;
}
.bridge_box_second_1_2_2_1_1_1_Token_name{
    font-style: normal;
    font-weight: 400;
    color: white;
    font-size: 1rem;
    line-height: 1.25rem;
    text-transform: none;
}
.bridge_box_second_2_1{
    font-style: normal;
    font-weight: 400;
    color: white;
    font-size: 1rem;
    line-height: 1.25rem;
    text-transform: none;
}
.bridge_box_second_2_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 20px;
    height: 64px;
    width: 100%;
    background: #2d2e33;
    border: 1px solid #4c4e57;
    border-radius: 32px;
    cursor: pointer;
}
.bridge_box_second_2_2_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 100%;
}
.bridge_box_second_2_2_1_1_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    gap: 12px;
}
.bridge_box_second_2_2_1_1_1_img{
    width:24px;
    height:24px;
}
.bridge_box_second_2_2_1_1_1_2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
}
.bridge_box_second_2_2_1_1_1_2_1{
    font-style: normal;
    font-weight: 400;
    color: white;
    font-size: 1rem;
    line-height: 1.25rem;
    text-transform: none;
}
.bridge_box_second_3_1{
    font-style: normal;
    font-weight: 400;
    color: white;
    font-size: 1rem;
    line-height: 1.25rem;
    text-transform: none;
}
.bridge_box_second_3_2{
    height: fit-content;
    width: fit-content;
    position: absolute;
    left: calc(50% - 20px);
    top: -25px;
}
.bridge_box_second_3_3{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 4px;
    width: 100%;
}
.bridge_box_second_3_2_1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 0px;
    height: 58px;
    cursor: pointer;
}
.bridge_box_second_3_2_1_same{
    height: 9px;
    width: 1px;
    background-color: #4c4e57;
}
.bridge_box_second_3_2_1_2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 0;
    height: 40px;
    width: 40px;
    border: 1px solid #4c4e57;
    border-radius: 32px;
    cursor: pointer;
}
.bridge_box_second_3_3_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 20px;
    height: 64px;
    width: 100%;
    background: #2d2e33;
    border: 1px solid #4c4e57;
    border-radius: 32px;
    cursor: pointer;
}
.bridge_box_second_3_3_2{
    font-style: normal;
    font-weight: 400;
    color: white;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-transform: none;
    cursor: pointer;
}
.bridge_box_second_3_3_1_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 100%;
}
.bridge_box_second_3_3_1_1_1_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    gap: 12px;
}
.bridge_box_second_3_3_1_1_1_1_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
}

/* .bridge_box_second_3_3_1_1_1_1_1_1{
    font-style: normal;
    font-weight: 400;
    color: white;
    font-size: 0.875rem;
    line-height: 1.125rem;
    text-transform: none;
} */
.bridge_box_second_3_3_1_1_1_1_1_2{
    font-style: normal;
    font-weight: 400;
    color: whtie;
    font-size: 1rem;
    line-height: 1.25rem;
    text-transform: none;
}

.bridge_btn{
        font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    height: 64px;
    padding: 0px 40px;
    gap: 4px;
    border-radius: 32px;
    background-color: transparent;
    color: var(--color-neutrals-black-800);
    border: none;
    background-color: aqua;
    width: 100%;
}
.bridge_box_third_div_1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 100%;
}
.bridge_box_third_div_1_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 6px;
    width: 100%;
}
.bridge_box_third_div_1_same{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 6px;
    width: 100%;
}
.bridge_box_third_div_1_3{
        height: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: black   ;
    width: 100%;
}
.bridge_box_third_div_1_4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 6px;
    width: 100%;
    cursor: pointer;
}
.bridge_box_third_div_1_5{
    height: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: black;
    width: 100%;
}
.bridge_box_third_div_1_2_1_same{
    font-style: normal;
    font-weight: 400;
    color: whitesmoke;
    font-size: 1rem;
    line-height: 1.25rem;
    text-transform: none;
}
.bridge_box_third_div_1_4_1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}
.bridge_box_third_div_1_4_1_2{
    font-style: normal;
    font-weight: 400;
    color: black;
    font-size: 1rem;
    line-height: 1.25rem;
    text-transform: none;
}
.bridge_box_third_div_1_6_1{
    font-style: normal;
    font-weight: 400;
    color: white;
    font-size: 1rem;
    line-height: 1.25rem;
    text-transform: none;
}
.bridge_box_third_div_1_6_2{
    font-style: normal;
    font-weight: 400;
    color: white;
    font-size: 1rem;
    line-height: 1.25rem;
    text-transform: none;
}