:root{
--color-interface-red: #f96c6c;
--color-interface-yellow: #f9d26c;
--color-interface-op-red: #f96c6c;
--color-interface-op-red-5: #f96c6c0d;
--color-interface-op-red-15: #f96c6c26;
--color-brand-aqua: #6cf9d8;
--color-interface-aqua: #6cf9d8;
--color-interface-aqua-0: #6cf9d800;
--color-interface-aqua-5: #6cf9d80d;
--color-interface-aqua-15: #6cf9d826;
--color-interface-teal: #44d2ff;
--color-interface-teal-5: #44d2ff0d;
--color-interface-teal-15: #44d2ff26;
--color-interface-white: #ffffff;
--color-neutrals-black-700: #34353b;
--header_color: #2d2e33;
--color-neutrals-black-900: #202024;
--color-neutrals-grey-400: #9daab3;
--color-neutrals-grey-400-15: #9daab326;
--color-neutrals-grey-400-5: #9daab30d;
--header_btn_default_color: #4c4e57;
--color-neutrals-grey-600: #3e4047;
--color-neutrals-light-100: #ffffff;
--color-neutrals-light-200: #e0f3ff;
--color-neutrals-light-300: #c5d5e0;
--color-neutrals-blue-200: #1da1f2;
--tints-shades-white-70: #9daab2;
--tints-shades-white-88: #c5d5e0;
--tints-shades-white-100: #e0f3ff;
--tints-shades-white-200: #9daab2;
--color-primary: var(--color-interface-aqua);
--color-gray: var(--color-neutrals-black-800);
--color-black: var(--color-neutrals-black-900);
--color-pagination: var(--color-neutrals-grey-500);
--color-white: var(--color-interface-white);
--color-error: var(--color-interface-red);
}