:root{
    --header_color: #2d2e33;
    --aside_bar_bg:#1E1F20;
    --side_top_bg:#00FFFF;
    --side_bar_line_hover:#44464c;
    --header_links_color:#d3d3d3;
    --body_bg:#0d172b;
    --bridge_btn_bg:#00FFFF;
    --white_black_border:#4c4e57;
    --bridge_box_bg:#34353b;
    --modal_bg:#0000008c;

    --green_low_color:rgb(0, 190, 160);
    --skyblue_average_color:rgb(0, 146, 219);
    --red_high_color:rgb(207, 16, 16);
}

:root {
    --header_links_font:Optima, sans-serif;
    --bridge_box_font:Andale Mono, monospace;
    
    --gas_tracker_heading:OCR A Std, monospace;
    --gas_gwei_text:Courier New, monospace;
    --gas_position_text:sans-serif;
    --monospace:monospace ;
}